{% extends 'core/base.html' %}

{% load i18n %}
{% block head_title %}{% trans "Edit Website" %}{% endblock %}
{% block page_title %}{% trans "Edit Website" %}{% endblock %}

{% block content %}

<div class="card shadow border-0 mb-7">
  <div class="card-header">
    <h5 class="mb-0">Edit details</h5>
    <div class="row">
      <div class="col-md-4">
        <form method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.as_div }}
          <button type="submit" class="btn btn-primary btn-sm mt-4">Save</button> 
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}